.submenu__item {
  list-style-type: none;
}
.menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
  &__item {
    &.with__submenu {
      position: relative;
      display: flex;
      align-items: center;
      .submenu {
        position: absolute;
        top: 30px;
        right: 0px;
        left: 0px;
        background: $primary;
        border-radius: 10px;
        display: none;
        &.active {
          display: block;
          animation: fade .5s linear;
        }
      }
      .submenu__arrow {
        cursor: pointer;
      }
      .submenu__link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: white;
        display: flex;
        padding: 5px 5px 5px 10px;
        transition: .3s ease;
        &:hover {
          background: orange;
          border-radius: 10px;
        }
      }
    }
  }
  &__item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
}