h2{
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 38px;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featured .btn{
  margin: 42px 0 67px;
}
.featured__wrapper{
  margin-bottom: 66px;
}