// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  @media (max-width: $breakpoint1250) {
    max-width: 1250px;
  }
  @media (max-width: $breakpoint992) {
    max-width: 992px;
  }
  @media (max-width: $breakpoint768) {
    max-width: 768px;
  }
  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}
// Body Locked
body {
  min-width: 480px;
  overflow-x: hidden;
  //font-family: 'Poppins', sans-serif;
  background: #272727;
  &.locked {
    overflow: hidden;
  }
}
// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn{
  width: 165px;
  height: 44px;
  background: #323443;
  border-radius: 12px;
}
