.menghabiskan {
  margin-top: 113px;
  @extend .flex__center
}
.inners {
  display: flex;
  max-width: 652px;
  background: #323443;
  border-radius: 12px;
  padding: 35px 40px;
  gap: 20px;
}
.inner {
  p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #C9C9C9;
  }
  &__wrap {
    @extend .flex__center;
    h4 {
      margin: 0;
      line-height: 24px;
      max-width: 130px;
    }
  }
}
.left a {
  width: 262px;
  margin: 13px 0 149px;
}
.right {
  margin-top: -220px;
}
.two {
  margin-top: -60px;
  margin-left: 25px;
  &:before {
    content: "";
    position: relative;
    display: block;
    margin-left: -25px;
    top: 85px;
    width: 5px;
    height: 77px;
    background: linear-gradient(180deg, #3BF686 0%, #4CA9FF 100%);
  }
}
@media (max-width: $breakpoint992) {
  .menghabiskan {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    margin-top: 0px;
    h2 {
      border-bottom: 1px solid #4D4D4D;
      padding-bottom: 20px;
      text-align: center;
    }
  }
  .two {
    margin-top: 0px;
    margin-left: 0px;
    &:before {
      display: none;
    }
  }
  .inners {
    display: block;
    padding: 0px;
    width: 400px;
    padding: 0px 0 20px 34px;
    margin-top: 20px;
  }
  .left {
    max-width: 410px;
    max-height: 500px;
  }
  .inner {
    p {
      max-width: 242px;
    }
    &__wrap {
      display: block;
      img {
        position: relative;
        right: 50px;
        top: 50px;
      }
      h4 {
        max-width: 150px;
      }
    }
  }
}